


@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  



body {
    font-family: "Fraunces", serif;;
}


main {
    width: 100%; 
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    padding: 35px 25px  70px 25px;
    box-sizing: border-box;

    h1 {
        font-size: 40px;
        font-weight: 900;
        color: #FFF;
        text-align: center;
        letter-spacing: 6.25px;
        margin-top: 88px;
    }

    .arrow-down {
        margin: auto;
        display: block;
        margin-top: 52px;
    }

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .navigation {
        width: calc(100% - 50px);
        // height: 350px;
        background-color: #fff;
        position: fixed;
        top: 87px;
        clip-path: polygon(0 24px, 93% 24px, 100% 0, 100% 100%, 0 100% );        
        transform: translateX(calc(100% + 25px));

        ul {          
            @include flex-column;
            gap: 32px;
            padding: 53px 0px 39px 0px;
            box-sizing: border-box;

            a {
                font-size: 20px;
                font-weight: 600;
                color: #808397;
            }

            & li:last-child a {
                display: inline-block;
                width: 140px;
                height: 56px;
                background-color: #FBD600;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 28px;
                color: #24303E;
                font-size: 15px;
                transition: all 0.2s;

                &:hover {
                    background-color: rgba(251, 214, 0, 0.7);

                }
            }
        }
    }

    .menu-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}


.open-nav {
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.close-nav {
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


@keyframes moveInLeft {
    0% {
        transform: translateX(calc(100% + 25px));
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(100% + 25px));
    }
}




.about-service {
    @include flex-column;
}

.img-div {
    width: 100%;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service-disc {
    text-align: center;
    padding: 65px 24px;
    box-sizing: border-box;

    h2 {
        font-size: 32px;
        font-weight: 900;
        color: #24303E;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: #808397;
        line-height: 30px;
        margin-top: 24px;
    }

    .learn-more {
        position: relative;
        max-width: fit-content;
        margin: auto;
        margin-top: 32px;
        
        a {
            font-size: 15px;
            font-weight: 900;
            color: #24303E;
        }

        .background-line {
            width: 110%;
            height: 7px;
            position: absolute;
            z-index: -1;
            bottom: -1px;
            left: -5%;
            opacity: 0.25;
            border-radius: 28px;
        }
    }
}

.yellow-line {
    background-color: #FAD400;
}

.red-line {
    background-color: #FE7766;
}

.egg-img {
    background-image: url(./images/mobile/image-transform.jpg);
}

.stend-out-img {
    background-image: url(./images/mobile/image-stand-out.jpg);
}


.with-backgr-img {
    background-position: top;
    background-size: cover;

}

.cherry-backgr {
    background-image: url(./images/mobile/image-graphic-design.jpg);

    h2 {
        margin-top: 370px;
        color: #24554A;
    }

    p {
        color: #24554A;
    }
}


.orange-backgr {
    background-image: url(./images/mobile/image-photography.jpg);

    h2 {
        margin-top: 370px;
        color: #052C3B;
    }

    p {
        color: #052C3B;
    }

}

